
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150.3rem;
}.macbook-pro-14-1-4Ui {
  height: 306.1rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;

  .desktop-1-J8A {
    background-color: #ffffff;
    width: 177.1rem;
    height: 341.8rem;
    position: relative;

    .background-LUA {
      background-image: url('REPLACE_IMAGE:731babea60243f3d8ec82df6aee54246ff5250b7');
      width: 151.4rem;
      height: 108.3rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 121.11% 132.007%;
      background-position: -4.279rem -34.6632rem;
    }
    .weather-section-zoc {
      width: 56.5884rem;
      height: 50.5rem;
      position: absolute;
      left: 19.5rem;
      top: 11.5rem;

      .rectangle-2-XYe {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(245, 202, 195, 0.3199999928);
        border-radius: 5.9rem;
        width: 52.1rem;
        height: 50.5rem;
      }
      .temprature-qpE {
        height: 29.4457rem;
        position: absolute;
        left: 4.2922rem;
        top: 4.5774rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 43.6044rem;

        .auto-group-1jz2-9pv {
          flex-shrink: 0;
          margin-bottom: 2.221rem;
          width: 100%;
          height: 6.029rem;
          display: flex;
          align-items: flex-end;

          .search-bar-ErN {
            font-family: Mohave, 'Source Sans Pro';
            letter-spacing: 0.22rem;
            padding: 1.623rem 1.741rem 1.545rem 1.741rem;
            font-weight: 400;
            line-height: 1.3925;
            flex-shrink: 0;
            margin: 0rem 2.251rem 0.061rem 0rem;
            white-space: nowrap;
            color: #327b69;
            width: 35.9058rem;
            height: calc(100% - 0.0609rem);
            font-size: 2rem;
            border: solid 0.05rem #f28482;
            background-color: #f7ede2;
            border-radius: 5.1rem;
            box-sizing: border-box;
          }
          .search-button-fCv {
            flex-shrink: 0;
            margin-top: 0.2365rem;
            box-sizing: border-box;
            padding: 1.612rem 1.578rem 1.674rem 1.612rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:1:12');

            .vector-a4z {
              width: 2.2575rem;
              height: 2.507rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .auto-group-3dpw-r2W {
          margin: 0rem 2.343rem 0rem 4.615rem;
          width: calc(100% - 6.9578rem);
          height: 21.1958rem;
          position: relative;
          flex-shrink: 0;

          .loaction-ZxW {
            width: 22.0077rem;
            height: 20.2727rem;
            position: absolute;
            left: 0;
            top: 0;

            .auto-group-rn1q-iaW {
              margin-bottom: 0.6rem;
              width: 100%;
              height: 13.7727rem;
              position: relative;

              .c-FqL {
                line-height: 1.2575;
                font-family: Niagara Solid, 'Source Sans Pro';
                height: 12.6rem;
                position: absolute;
                left: 0.0077rem;
                font-weight: 400;
                color: #327b69;
                white-space: nowrap;
                width: 22rem;
                top: 0;
                font-size: 10rem;
                letter-spacing: 0.2rem;
              }
              .new-delhi-in-88S {
                top: 10.9727rem;
                font-weight: 600;
                line-height: 1.3925;
                letter-spacing: 0.22rem;
                width: 12.7rem;
                height: 2.8rem;
                position: absolute;
                font-family: Mohave, 'Source Sans Pro';
                white-space: nowrap;
                left: 0;
                font-size: 2rem;
                color: #f28482;
              }
            }
            .st-january-friday-q2r {
              max-width: 9.7rem;
              font-size: 2.1rem;
              font-weight: 500;
              line-height: 1.3925;
              letter-spacing: 0.0315rem;
              color: #327b69;
              font-family: Mohave, 'Source Sans Pro';
            }
          }
          .image-1-YCA {
            vertical-align: top;
            width: 17.0926rem;
            height: 19.2499rem;
            position: absolute;
            left: 19.554rem;
            top: 1.9459rem;
            object-fit: cover;
          }
        }
      }
      .pm-3ei {
        white-space: nowrap;
        width: 45rem;
        left: 11.5884rem;
        font-size: 10rem;
        font-weight: 400;
        color: #327b69;
        font-family: Niagara Solid, 'Source Sans Pro';
        height: 11rem;
        position: absolute;
        top: 37.1rem;
        line-height: 1.0908007813;
        letter-spacing: 1.8rem;
      }
    }
    .hero-section-JKk {
      align-items: flex-start;
      box-sizing: border-box;
      height: 92.6747rem;
      position: absolute;
      top: 69.5rem;
      padding: 7rem 38.9rem 7rem 0rem;
      width: 154.3rem;
      left: 22rem;
      display: flex;

      .auto-group-yat4-1EA {
        width: 45.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.8rem 17.963rem 0rem 0rem;

        .group-1-8Jn {
          margin: 0rem 3rem 7.7rem 5.7rem;
          width: calc(100% - 8.7rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .journeyuncharted-4iE {
            white-space: nowrap;
            margin-bottom: 1rem;
            font-weight: 400;
            font-family: Mohave, 'Source Sans Pro';
            color: #000000;
            flex-shrink: 0;
            font-size: 3.6rem;
            line-height: 1.3925;
            letter-spacing: 0.756rem;
          }
          .live-explore-repeat-PVc {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            margin-right: 1rem;
            letter-spacing: 0.048rem;
            font-family: Niconne, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .welcome-to-our-website-your-ultimate-guide-to-exploring-the-world-from-breathtaking-natural-landscapes-to-fascinating-cultural-experiences-we-have-everything-you-need-to-plan-your-next-adventure-7Ai {
          font-family: Mohave, 'Source Sans Pro';
          font-weight: 400;
          color: #327b69;
          font-size: 2rem;
          line-height: 2.7279998779;
          letter-spacing: 0.19rem;
          flex-shrink: 0;
          max-width: 45.2rem;
          display: flex;
        }
      }
      .blob-haikei-1-NF4 {
        overflow: hidden;
        flex-shrink: 0;
        width: 52.2366rem;
        height: 52.8rem;
        position: relative;

        .group-Ws4 {
          width: 52.2288rem;
          height: 50.4804rem;
          position: absolute;
          left: 0;
          top: 2.3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .imageedit23739459745-1-SVp {
          height: 52.8rem;
          position: absolute;
          left: 0.1366rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 52.1rem;
        }
      }
    }
    // .group-6-Yok {
    //   width: 61.5rem;
    //   height: 57.9rem;
    //   position: absolute;
    //   left: 44rem;
    //   top: 146.5rem;

    //   .rectangle-8-5Ht {
    //     width: 13.993rem;
    //     height: 57.9rem;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     object-fit: cover;
    //     vertical-align: top;
    //   }
    //   .rectangle-11-RMk {
    //     width: 13.9066rem;
    //     height: 57.9rem;
    //     position: relative;
    //     left: 15.8933rem;
    //     top: 0;
    //     background-size: 250.81% 106.878%;
    //     background-position: -10.0301rem -1.7975rem;
    //     background-image: url('REPLACE_IMAGE:df226d9568d2c568db04804110939cd75b3513f3');
    //   }
    //   .rectangle-10-v3c {
    //     position: absolute;
    //     left: 31.7001rem;
    //     top: 0;
    //     object-fit: cover;
    //     vertical-align: top;
    //     width: 13.9066rem;
    //     height: 57.9rem;
    //   }
    //   .rectangle-9-fG6 {
    //     top: 0;
    //     background-size: 249.504% 113.696%;
    //     background-position: -2.7785rem -1.6636rem;
    //     background-image: url('REPLACE_IMAGE:77e0e9d283380677201d89b077c4ba31ab492e3c');
    //     width: 13.993rem;
    //     height: 57.9rem;
    //     position: relative;
    //     left: 47.507rem;
    //   }
    //   .group-5-vhp {
    //     align-items: center;
    //     width: 50.8rem;
    //     height: 22.3rem;
    //     position: absolute;
    //     left: 5.3rem;
    //     top: 18.5rem;
    //     display: flex;

    //     .restraunts-qJz {
    //       margin: 0rem 13.2rem 1.3rem 0rem;
    //       line-height: 1.3925;
    //       max-width: 2.8rem;
    //       font-size: 2rem;
    //       font-weight: 700;
    //       letter-spacing: 0.36rem;
    //       color: #ffffff;
    //       font-family: Mohave, 'Source Sans Pro';
    //       flex-shrink: 0;
    //     }
    //     .plan-your-tour-M2S {
    //       letter-spacing: 0.36rem;
    //       margin: 0rem 13.2rem 0.3rem 0rem;
    //       max-width: 2.8rem;
    //       font-size: 2rem;
    //       font-weight: 700;
    //       line-height: 1.3925;
    //       color: #ffffff;
    //       font-family: Mohave, 'Source Sans Pro';
    //       flex-shrink: 0;
    //     }
    //     .loctae-destination-Fdc {
    //       margin-right: 13.4rem;
    //       font-size: 2rem;
    //       line-height: 1.3925;
    //       color: #ffffff;
    //       flex-shrink: 0;
    //       max-width: 2.6rem;
    //       font-weight: 700;
    //       letter-spacing: 0.36rem;
    //       font-family: Mohave, 'Source Sans Pro';
    //     }
    //     .book-hotels-aQz {
    //       margin-bottom: 2.1rem;
    //       font-size: 2rem;
    //       font-weight: 700;
    //       letter-spacing: 0.36rem;
    //       font-family: Mohave, 'Source Sans Pro';
    //       flex-shrink: 0;
    //       max-width: 2.8rem;
    //       line-height: 1.3925;
    //       color: #ffffff;
    //     }
    //   }
    // }
    .main-JLz {
      left: 0.1rem;
      top: 2.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 150.2rem;
      height: 303.9rem;
      position: absolute;

      .auto-group-l5m4-deA {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 17.2rem 115.358rem 8.7rem;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-r7fp-mEa {
          margin-bottom: 122.6182rem;
          width: 100%;
          height: 4.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .logo-WCA {
            margin-right: 31.2042rem;
            height: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .auto-group-nxxl-F9k {
              width: 5.0367rem;
              height: 4.8rem;
              position: relative;
              border: solid 0.1rem #689c8f;
              box-sizing: border-box;
              border-radius: 0.7rem;
              flex-shrink: 0;
              margin: 0rem 1.259rem 0.1rem 0rem;

              .rectangle-13-LS6 {
                height: 3.8rem;
                position: absolute;
                left: 0.5247rem;
                top: 0.5rem;
                background-color: #f7ede2;
                border-radius: 0.3rem;
                width: 3.9874rem;
              }
              .ju-4N6 {
                left: 1.0493rem;
                font-size: 2.8rem;
                letter-spacing: -0.63rem;
                color: #327b69;
                white-space: nowrap;
                width: 1.9rem;
                height: 3.6rem;
                position: absolute;
                font-family: Lucida Console, 'Source Sans Pro';
                top: 1rem;
                font-weight: 400;
                line-height: 1.2575;
              }
            }
            .journey-uncharted-kEv {
              color: #000000;
              font-family: Mohave, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 9.2rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3930000067;
              letter-spacing: 0.336rem;

              .journey-uncharted-kEv-sub-0 {
                color: #000000;
                font-family: Mohave, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.3925;
                letter-spacing: 0.336rem;
              }
              .journey-uncharted-kEv-sub-1 {
                font-family: Mohave, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.3925;
                letter-spacing: 0.336rem;
                color: #eb6967;
              }
            }
          }
          .navigation-bar-oF8 {
            margin: 1.2rem 0rem 1.1rem 0rem;
            height: calc(100% - 2.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .home-vKk {
              font-weight: 400;
              letter-spacing: 0.198rem;
              font-family: Mohave, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 8.5163rem;
              font-size: 1.8rem;
              line-height: 1.3925;
              color: #689c8f;
              white-space: nowrap;
            }
            .destinations-Fcv {
              font-size: 1.8rem;
              letter-spacing: 0.198rem;
              font-family: Mohave, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.8044rem;
              font-weight: 400;
              line-height: 1.3925;
              color: #689c8f;
            }
            .activities-mrA {
              line-height: 1.3925;
              color: #689c8f;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              font-family: Mohave, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 10.5122rem;
              letter-spacing: 0.198rem;
            }
            .login-hjp {
              color: #689c8f;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.3925;
              letter-spacing: 0.198rem;
              margin-right: 8.6671rem;
              font-size: 1.8rem;
              font-family: Mohave, 'Source Sans Pro';
            }
            .register-SBc {
              font-weight: 400;
              line-height: 1.3925;
              letter-spacing: 0.198rem;
              color: #689c8f;
              font-family: Mohave, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
            }
          }
        }
        .get-started-Nb4 {
          align-items: center;
          background-color: #fffaf5;
          box-sizing: border-box;
          padding: 0.282rem 0.716rem 0.142rem 1rem;
          width: calc(100% - 99.1rem);
          display: flex;
          border: solid 0.1rem #000000;
          border-radius: 1.6rem;
          flex-shrink: 0;
          margin: 0rem 75.8rem 0rem 23.3rem;

          .get-started-rm8 {
            display: flex;
            font-size: 2rem;
            line-height: 2.7479999542;
            letter-spacing: 0.72rem;
            color: #000000;
            font-family: Mohave, 'Source Sans Pro';
            margin-right: 2.1814rem;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-4-9ES {
            height: 4.3909rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1394rem;
            width: 4.1023rem;
          }
        }
      }
      .footer-section-1XY {
        background-color: #689c8f;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 5.353rem 15.242rem 3.367rem 10.431rem;
        width: 100%;
        height: 55.1rem;

        .group-11-wRC {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;

          .auto-group-kh14-VxW {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 8.4299rem;
            width: 100%;
            height: 35.6501rem;

            .group-10-qmU {
              flex-direction: column;
              flex-shrink: 0;
              margin: 6.192rem 22.362rem 15.201rem 0rem;
              height: calc(100% - 21.3935rem);
              display: flex;

              .company-information-ysg {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.3925;
                letter-spacing: 0.49rem;
                color: #ffffff;
                font-family: Mohave, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 4.7566rem;
                flex-shrink: 0;
              }
              .address-123-travel-lane-anytown-usa-phone-555-555-5555-email-infojourneyunchartedcom-Jux {
                font-weight: 600;
                line-height: 1.3930000067;
                letter-spacing: 0.12rem;
                color: #ffffff;
                font-family: Mohave, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 27.6rem;
                font-size: 1.6rem;

                .address-123-travel-lane-anytown-usa-phone-555-555-5555-email-infojourneyunchartedcom-Jux-sub-0 {
                  font-weight: 600;
                  line-height: 1.3925;
                  letter-spacing: 0.12rem;
                  color: #ffffff;
                  font-family: Mohave, 'Source Sans Pro';
                  font-size: 1.6rem;
                }
                .address-123-travel-lane-anytown-usa-phone-555-555-5555-email-infojourneyunchartedcom-Jux-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.3925;
                  letter-spacing: 0.12rem;
                  color: #ffffff;
                  font-family: Mohave, 'Source Sans Pro';
                }
              }
            }
            .group-9-Tpn {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .group-8-pfL {
                margin: 0rem 0rem 8.325rem 0.313rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .guides-maa {
                  margin-right: 17.7764rem;
                  flex-shrink: 0;
                  font-size: 2rem;
                  font-weight: 600;
                  line-height: 1.3925;
                  letter-spacing: 0.49rem;
                  color: #ffffff;
                  font-family: Mohave, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .website-uRt {
                  margin-right: 18.6754rem;
                  font-size: 2rem;
                  line-height: 1.3925;
                  flex-shrink: 0;
                  font-weight: 600;
                  letter-spacing: 0.49rem;
                  color: #ffffff;
                  font-family: Mohave, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .additional-info-e8a {
                  flex-shrink: 0;
                  font-size: 2rem;
                  font-weight: 600;
                  line-height: 1.3925;
                  letter-spacing: 0.49rem;
                  color: #ffffff;
                  font-family: Mohave, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .group-7-BPQ {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 73.2647rem;
                row-gap: 4.4417rem;

                .auto-group-pug2-8Je {
                  margin: 0rem 0.8rem 0rem 0.313rem;
                  width: calc(100% - 1.1129rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .destinations-Tbp {
                    margin-right: 13.9764rem;
                    font-weight: 600;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-family: Mohave, 'Source Sans Pro';
                    font-size: 2rem;
                    line-height: 1.3925;
                    letter-spacing: 0.15rem;
                    color: #ffffff;
                  }
                  .about-us-Bni {
                    font-family: Mohave, 'Source Sans Pro';
                    font-size: 2rem;
                    line-height: 1.3925;
                    letter-spacing: 0.15rem;
                    color: #ffffff;
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 20.0754rem;
                    font-weight: 600;
                  }
                  .newsletter-signup-W4J {
                    line-height: 1.3925;
                    letter-spacing: 0.15rem;
                    color: #ffffff;
                    font-family: Mohave, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2rem;
                    font-weight: 600;
                  }
                }
                .auto-group-1nwc-zVG {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-left: 0.3129rem;

                  .reviews-wfQ {
                    line-height: 1.3925;
                    color: #ffffff;
                    font-family: Mohave, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-right: 18.5764rem;
                    font-size: 2rem;
                    font-weight: 600;
                    letter-spacing: 0.15rem;
                    flex-shrink: 0;
                  }
                  .contact-us-t4r {
                    margin-right: 18.2754rem;
                    font-size: 2rem;
                    color: #ffffff;
                    flex-shrink: 0;
                    font-weight: 600;
                    line-height: 1.3925;
                    letter-spacing: 0.15rem;
                    font-family: Mohave, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .terms-conditions-pjC {
                    font-family: Mohave, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.3925;
                    letter-spacing: 0.15rem;
                    color: #ffffff;
                  }
                }
                .auto-group-2xpq-Zwg {
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;

                  .packages-vnE {
                    font-family: Mohave, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-right: 17.7893rem;
                    line-height: 1.3925;
                    color: #ffffff;
                    white-space: nowrap;
                    font-size: 2rem;
                    font-weight: 600;
                    letter-spacing: 0.15rem;
                  }
                  .privacy-policy-fzi {
                    font-size: 2rem;
                    line-height: 1.3925;
                    font-family: Mohave, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 14.6754rem;
                    font-weight: 600;
                    letter-spacing: 0.15rem;
                    color: #ffffff;
                  }
                  .sitemap-1og {
                    line-height: 1.3925;
                    letter-spacing: 0.15rem;
                    color: #ffffff;
                    font-family: Mohave, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2rem;
                    font-weight: 600;
                  }
                }
                .auto-group-8tnr-YYi {
                  margin: 0rem 43.675rem 0rem 0.313rem;
                  width: calc(100% - 43.9883rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .blogs-gev {
                    color: #ffffff;
                    font-family: Mohave, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-weight: 600;
                    line-height: 1.3925;
                    letter-spacing: 0.15rem;
                    margin-right: 20.5764rem;
                    font-size: 2rem;
                  }
                  .faq-pFL {
                    flex-shrink: 0;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.3925;
                    letter-spacing: 0.15rem;
                    color: #ffffff;
                    font-family: Mohave, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
              }
            }
          }
          .copyright-2023-journeyunchartedwebsite-all-rights-reserved-i5p {
            font-weight: 600;
            line-height: 1.3925;
            font-family: Mohave, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 9.3118rem;
            font-size: 1.6rem;
            letter-spacing: 0.12rem;
            color: #ffffff;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
